@use "../abstracts" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  overscroll-behavior: none;
  font: 1.6rem / 1.5 "Source Sans Pro", arial, helvetica, sans-serif;
}

ul {
  list-style: none;
}
